<table
  th:fragment="genericTable(items, headers, fields, route)"
  class="min-w-full text-center mt-8"
>
  <thead class="bg-gray-200 border-b">
    <tr>
      <th
        th:each="header : ${headers}"
        th:text="${header}"
        class="text-sm font-medium text-gray-900 px-6 py-4"
      ></th>
    </tr>
  </thead>
  <tbody>
    <tr
      th:each="item : ${items}"
      class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100"
    >
      <td
        th:each="field : ${fields}"
        class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"
      >
        <div th:if="${#strings.contains(field, 'delete:')}">
          <form
            th:action="@{'/' + ${route} + '/delete/' + ${item[#strings.substringAfter(field, 'delete:')]}}"
            th:method="delete"
          >
            <button type="submit" class="text-red-500 hover:underline">
              Delete
            </button>
          </form>
        </div>
        <span
          th:unless="${#strings.contains(field, 'delete:')}"
          th:text="${item[field]}"
        ></span>
      </td>
    </tr>
  </tbody>
</table>
