<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <title>App Zoo</title>
  </head>
  <body>
    <header th:replace="~{components/header :: header}"></header>
    <main class="mx-auto max-w-4xl">
      <section>
        <h2 class="text-2xl text-center my-4">Aplicação para gestão do Zoo</h2>
      </section>
      <hr class="my-4" />

      <div class="flex justify-center flex-col items-center">
        <p>Link para repositório do GitHub</p>
        <a
          href="https://github.com/carlosarraes/appzoo"
          target="_blank"
          class="mx-auto"
        >
          <img
            src="https://img.shields.io/static/v1?label=GitHub&message=AppZoo&color=7159c1&style=for-the-badge&logo=github"
          />
        </a>
      </div>
    </main>
  </body>
</html>
